$color-title: white; 
$color-nav: white;
$color-subtitle: black;
$color-servicios: white;

// La paleta de colores utilizada para textos es siempre la misma (Blanco o Negro).
// Hice varias variables con el mismo color para demostrar como las usaria en el caso de tener varios colores.