header {
	@include header();
}
nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
	img {
		width: 150px;
	}
	.fa {
		display: none;
	}
}
.navbar {
	flex: 1;
	text-align: right;
	ul {
		li {
			list-style: none;
			display: inline-block;
			padding: 8px 12px;
			position: relative;
			a {
				color: $color-nav;
				text-decoration: none;
				font-size: 13px;
			}
			&::after {
				content: '';
				width: 0%;
				height: 2px;
				background: #31a7c2;
				display: block;
				margin: auto;
				transition: 0.5s;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
}
.titulo-web {
	width: 90%;
	color: $color-title;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	h1 {
		font-size: 62px;
	}
	p {
		margin: 10px 0 40px;
		font-size: 14px;
		color: $color-nav;
	}
}
.cta-home {
	display: inline-block;
	text-decoration: none;
	color: $color-nav;
	border: 1px solid $color-nav;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	&:hover {
		border: 1px solid #31a7c2;
		background: #31a7c2;
		transition: 1s;
	}
}
.menu-secundario {
	height: 40vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.905), rgba(63, 21, 71, 0.23)), url(../assets/backrounddark.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: $color-nav;
	h1 {
		margin-top: 60px;
		font-size: 35px;
	}
}